In [1]:
import pandas as pd

**To access all the data**: /mnt/ufs18/rs-008/HRT841_F21/Class_project/Arabidopsis_expression_matrix/gene_FPKM_200501.csv

**To access all the metadata**: https://discord.com/channels/877200621311258636/887067691628761148/903737343859654656

#### Visualizing subsets of metadata and/or data of the *Arabidopsis* class project: 


 * **BW**: subsetted by Brandon Webster
 * **RW**: subsetted by Robin Waterman
 * **KD**: subsetted by Kara Dobson
 * **SZ**: subsetted by Sophia Zorrilla

In [2]:
BW = pd.read_csv("./Databasemetadata.csv", encoding= 'unicode_escape') # I used encoding = 'unicode_escape' as a solution
                                                                       # to an error I otherwise had: 'utf-8' codec can't decode 
                                                                       # byte 0xea in position 11: invalid continuation byte
BW.head()

,Sample,Project,SampleName,PMID,Genotype,Ecotype,Tissue,TotalReads,UniqueMappedRate,ReleaseDate
0,DRX007662,PRJDB2180,Arabidopsis WT-Col mRNA_seq,/,wild type,Col-0,/,30664389,86.20%,2014/4/2
1,DRX007663,PRJDB2180,Arabidopsis ibm1-4 mRNA_seq,/,ibm1-4,Col-0,/,38551905,91.10%,2014/4/2
2,DRX007664,PRJDB2180,Arabidopsis ibm2-2 mRNA_seq,/,ibm2-2,Col-0,/,37223057,83.40%,2014/4/2
3,DRX014481,PRJDB1593,Y1,/,wild type,/,root,95012910,89.80%,2016/2/5
4,DRX014482,PRJDB1593,Y2,/,wild type,/,root,163269003,92.90%,2016/2/5

In [4]:
RW = pd.read_csv("./result_table.csv", encoding= 'unicode_escape')
RW.head()

,Sample,SampleName,AT1G22630,AT1G22620,AT1G22610,Tissue,Ecotype,Genotype,Treatment,Project,TotalReads,UniqueMappedRatio,ReleaseDate
0,DRX007662,Arabidopsis WT-Col mRNA_seq,37.66,28.68,0.0,--,Col-0,wild type,--,PRJDB2180,30664389,0.8615,4/2/2014
1,DRX007663,Arabidopsis ibm1-4 mRNA_seq,35.22,30.74,0.0,--,Col-0,ibm1-4,--,PRJDB2180,38551905,0.9114,4/2/2014
2,DRX007664,Arabidopsis ibm2-2 mRNA_seq,33.39,28.81,0.0,--,Col-0,ibm2-2,--,PRJDB2180,37223057,0.8343,4/2/2014
3,DRX014481,Y1,8.22,21.83,0.0,root,--,wild type,--,PRJDB1593,95012910,0.8982,2/5/2016
4,DRX014482,Y2,8.53,26.05,0.0,root,--,wild type,--,PRJDB1593,163269003,0.9293,2/5/2016

In [5]:
KD = pd.read_csv("./data_subset.csv")
KD.head()

,Unnamed: 0,Sample,SampleName,AT1G22630,AT1G22620,AT1G22610,Tissue,Ecotype,Genotype,Treatment,Project,TotalReads,UniqueMappedRatio,ReleaseDate
0,17117,GSM3178804,urt1 rep1 dataset #2,0.00,0.00,0.0,seedlings,--,urt1,--,PRJNA475117,1039688,0.2002,10/8/2018
1,2820,GSM1507902,Te ctrl rep3,61.64,29.59,0.0,rosette leaf,Te,Te,control,PRJNA261430,24510726,0.8412,9/22/2014
2,16447,GSM2915887,BA_2,19.16,36.65,0.0,seedlings,Col-0,--,BA,PRJNA429126,21775880,0.9044,10/1/2018
3,12342,SRX2899193,Col0_margin_rep2,95.46,23.76,0.0,leaves,Col-0,Col-0,--,PRJNA389787,10077394,0.7901,12/6/2017
4,159,DRX099518,DRS050614,0.00,15.69,0.0,root,Col-0,wild type,Mock,PRJDB6370,3990947,0.9492,9/28/2017

In [3]:
SZ = pd.read_csv("./result_table_100.csv")
SZ.head()

,Sample,SampleName,AT1G06190,AT1G59830,AT4G05510,AT5G45573,AT1G18340,AT4G13770,AT1G05520,AT1G48580,...,AT5G61500,AT5G00910,Tissue,Ecotype,Genotype,Treatment,Project,TotalReads,UniqueMappedRatio,ReleaseDate
0,DRX007662,Arabidopsis WT-Col mRNA_seq,42.03,38.25,0.03,0.0,16.85,15.03,32.44,8.81,...,46.68,0.89,--,Col-0,wild type,--,PRJDB2180,30664389,0.8615,2014/4/2
1,DRX007663,Arabidopsis ibm1-4 mRNA_seq,51.37,35.05,0.00,0.0,18.37,47.83,32.76,6.75,...,46.79,0.00,--,Col-0,ibm1-4,--,PRJDB2180,38551905,0.9114,2014/4/2
2,DRX007664,Arabidopsis ibm2-2 mRNA_seq,45.71,34.51,0.02,0.0,17.35,26.90,34.37,7.66,...,46.82,0.29,--,Col-0,ibm2-2,--,PRJDB2180,37223057,0.8343,2014/4/2
3,DRX014481,Y1,31.10,45.58,0.00,0.0,29.47,51.06,26.40,7.32,...,57.13,0.54,root,--,wild type,--,PRJDB1593,95012910,0.8982,2016/2/5
4,DRX014482,Y2,29.71,40.16,0.00,0.0,26.99,46.15,31.74,9.03,...,49.69,0.38,root,--,wild type,--,PRJDB1593,163269003,0.9293,2016/2/5

In [2]:
SZre = pd.read_csv("./result_table_100_renamed_tissues.csv", encoding= 'unicode_escape')
SZre

,Sample,SampleName,AT1G06190,AT1G59830,AT4G05510,AT5G45573,AT1G18340,AT4G13770,AT1G05520,AT1G48580,...,AT5G61500,AT5G00910,Tissue,Ecotype,Genotype,Treatment,Project,TotalReads,UniqueMappedRatio,ReleaseDate
0,DRX007662,Arabidopsis WT-Col mRNA_seq,42.03,38.25,0.03,0.0,16.85,15.03,32.44,8.81,...,46.68,0.89,--,Col-0,wild type,--,PRJDB2180,30664389,0.8615,02/04/2014
1,DRX007663,Arabidopsis ibm1-4 mRNA_seq,51.37,35.05,0.00,0.0,18.37,47.83,32.76,6.75,...,46.79,0.00,--,Col-0,ibm1-4,--,PRJDB2180,38551905,0.9114,02/04/2014
2,DRX007664,Arabidopsis ibm2-2 mRNA_seq,45.71,34.51,0.02,0.0,17.35,26.90,34.37,7.66,...,46.82,0.29,--,Col-0,ibm2-2,--,PRJDB2180,37223057,0.8343,02/04/2014
3,DRX014481,Y1,31.10,45.58,0.00,0.0,29.47,51.06,26.40,7.32,...,57.13,0.54,root,--,wild type,--,PRJDB1593,95012910,0.8982,05/02/2016
4,DRX014482,Y2,29.71,40.16,0.00,0.0,26.99,46.15,31.74,9.03,...,49.69,0.38,root,--,wild type,--,PRJDB1593,163269003,0.9293,05/02/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20063,SRX5507299,T18,35.07,37.39,0.00,0.0,15.01,71.68,39.66,7.86,...,58.25,0.00,seed,Col-0,--,--,PRJNA526597,20711720,0.7676,12/03/2019
20064,SRX5507300,T15,37.30,36.45,0.00,0.0,14.09,80.15,45.09,5.59,...,55.13,0.00,seed,Col-0,--,--,PRJNA526597,28199351,0.7428,12/03/2019
20065,SRX5507301,T16,36.61,36.08,0.00,0.0,13.74,67.26,37.71,6.81,...,57.13,0.00,seed,Col-0,--,--,PRJNA526597,22945353,0.7584,12/03/2019
20066,SRX2095312,VS_480_r3,84.84,42.24,0.00,0.0,6.73,100.53,28.21,3.30,...,51.40,0.00,seedlings,vcs-7,vcs (vcs-7 [SOV-L.er]),--,PRJNA341504,24277247,0.8399,26/01/2018
20067,SRX843811,Response of Arabidopsis thaliana fve-3 and Col...,36.93,34.85,0.02,0.0,26.99,40.81,34.26,10.57,...,37.96,1.47,leaves,Col-0,wild type,--,PRJNA272563,339847383,0.8856,30/01/2015

In [3]:
# Subset the 100 genes renamed dataframe (SZre), to only have the following 5 tissue types
Five_tissues = SZre[SZre["Tissue"].isin(['leaves','root','whole plant','seedlings','rosette leaves'])]
Five_tissues

,Sample,SampleName,AT1G06190,AT1G59830,AT4G05510,AT5G45573,AT1G18340,AT4G13770,AT1G05520,AT1G48580,...,AT5G61500,AT5G00910,Tissue,Ecotype,Genotype,Treatment,Project,TotalReads,UniqueMappedRatio,ReleaseDate
3,DRX014481,Y1,31.10,45.58,0.00,0.0,29.47,51.06,26.40,7.32,...,57.13,0.54,root,--,wild type,--,PRJDB1593,95012910,0.8982,05/02/2016
4,DRX014482,Y2,29.71,40.16,0.00,0.0,26.99,46.15,31.74,9.03,...,49.69,0.38,root,--,wild type,--,PRJDB1593,163269003,0.9293,05/02/2016
5,DRX014483,Y9,28.65,37.61,0.00,0.0,26.93,41.27,34.48,11.03,...,45.91,0.34,root,--,max1-1,--,PRJDB1593,182427758,0.9305,05/02/2016
6,DRX014484,Y10,26.74,42.09,0.00,0.0,25.64,40.41,34.70,5.36,...,52.55,0.72,root,--,max1-1,--,PRJDB1593,109750057,0.9298,05/02/2016
7,DRX014485,Y11,26.35,37.27,0.00,0.0,25.91,38.70,35.68,6.47,...,45.96,0.56,root,--,max1-1,--,PRJDB1593,167993289,0.9242,05/02/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20012,SRX5371777,Leaf_cold27,62.42,71.22,0.00,0.0,4.14,140.01,42.19,0.00,...,41.77,0.49,leaves,Col-0,--,--,PRJNA411947,58332137,0.3767,14/02/2019
20013,SRX5371778,Leaf_cold3,49.69,67.03,0.00,0.0,12.84,130.40,30.87,0.50,...,63.92,1.42,leaves,Col-0,--,--,PRJNA411947,19772481,0.7944,14/02/2019
20014,SRX5371779,Leaf_cold3,53.35,71.81,0.00,0.0,12.76,129.63,33.78,0.81,...,65.47,1.13,leaves,Col-0,--,--,PRJNA411947,19299384,0.7923,14/02/2019
20066,SRX2095312,VS_480_r3,84.84,42.24,0.00,0.0,6.73,100.53,28.21,3.30,...,51.40,0.00,seedlings,vcs-7,vcs (vcs-7 [SOV-L.er]),--,PRJNA341504,24277247,0.8399,26/01/2018
20067,SRX843811,Response of Arabidopsis thaliana fve-3 and Col...,36.93,34.85,0.02,0.0,26.99,40.81,34.26,10.57,...,37.96,1.47,leaves,Col-0,wild type,--,PRJNA272563,339847383,0.8856,30/01/2015

In [4]:
# # Save the subsetted 'Five_Tissues' dataframe
# Five_tissues.to_csv('Five_tissues.csv')

In [45]:
# Belowground vs Aboveground 
# using the above/below.csv (https://docs.google.com/spreadsheets/d/1kive2B1lAYwv3SS2HKyB5dz5jad_0IZw9tDYWHaw1j4/edit?usp=sharing)

# Import the dataset as above_below
above_below = pd.read_csv("./result_table_100_renamed_tissues.csv", encoding= 'unicode_escape')

# First check how many tissue types you begin with (should be 104 for the 100 genes dataset)
print("Before replacing with above/belowground labels, in the 100 genes dataset there're", len(above_below['Tissue'].unique()), "tissue types")

# Replace all belowground tissue levels with the 'belowground' (use the above/below.csv as basis)
above_below['Tissue']= above_below['Tissue'].replace({
    "root":"belowground",
    "hypocotyl":"belowground",
    "root tip":"belowground",
    "Root":"belowground",
    "roots":"belowground",
    "root protoplasts":"belowground",
    "root QC cells":"belowground",
    "Hypocotyls":"belowground",
    "whole root":"belowground",
    "7-day-old root tips":"belowground",
    "1cm long root tips":"belowground",
    "root tips":"belowground",
    "root hair":"belowground",
    "primary root":"belowground",
    "Apical portions of plants (cut in hypocotyl)":"belowground",
    "whole roots":"belowground",
    "root tissue":"belowground",
    "roots and hyphae":"belowground",
    "Roots":"belowground",
    "root apex":"belowground"})

# Now check how many tissue types there're (should be 98 levels)
print("After replacing all belowground labels, there're", len(above_below['Tissue'].unique()), "tissue types")

# Replace all the non-belowground tissue levels with 'aboveground'
above_below.loc[above_below['Tissue'] != 'belowground', 'Tissue'] = 'aboveground'

# Now check how many tissue types there're (should be 2 levels)
print("After replacing all below/aboveground labels, there're", len(above_below['Tissue'].unique()), "tissue types")

# Check how many samples (rows) per tissue category
print(above_below['Tissue'].value_counts())

# Save the new dataset
above_below.to_csv('below_above.csv')

Before replacing with above/belowground labels, in the 100 genes dataset there're 104 tissue types
After replacing all belowground labels, there're 98 tissue types
After replacing all below/aboveground labels, there're 2 tissue types
aboveground    17701
belowground     2367
Name: Tissue, dtype: int64

In [47]:
# Belowground, aboveground reproductive, aboveground vegetative
# using the above/below.csv (https://docs.google.com/spreadsheets/d/1kive2B1lAYwv3SS2HKyB5dz5jad_0IZw9tDYWHaw1j4/edit?usp=sharing)

# Import the dataset as above_below
above_below = pd.read_csv("./result_table_100_renamed_tissues.csv", encoding= 'unicode_escape')

# First check how many tissue types you begin with (should be 104 for the 100 genes dataset)
print("Before replacing with above/belowground labels, in the 100 genes dataset there're", len(above_below['Tissue'].unique()), "tissue types")

# Replace all belowground tissue levels with the 'belowground' (use the above/below.csv as basis)
above_below['Tissue']= above_below['Tissue'].replace({
    "root":"belowground",
    "hypocotyl":"belowground",
    "root tip":"belowground",
    "Root":"belowground",
    "roots":"belowground",
    "root protoplasts":"belowground",
    "root QC cells":"belowground",
    "Hypocotyls":"belowground",
    "whole root":"belowground",
    "7-day-old root tips":"belowground",
    "1cm long root tips":"belowground",
    "root tips":"belowground",
    "root hair":"belowground",
    "primary root":"belowground",
    "Apical portions of plants (cut in hypocotyl)":"belowground",
    "whole roots":"belowground",
    "root tissue":"belowground",
    "roots and hyphae":"belowground",
    "Roots":"belowground",
    "root apex":"belowground"})

# Now check how many tissue types there're (should be 98 levels)
print("After replacing belowground there're", len(above_below['Tissue'].unique()), "tissue types")

# Replace all aboveground reproductive tissue levels with 'aboveground reproductive'
above_below['Tissue']= above_below['Tissue'].replace({
"inflorescence":"aboveground reproductive",
"inflorescences":"aboveground reproductive",
"Inflorescence axis":"aboveground reproductive",
"Inflorescence stem":"aboveground reproductive",
"inflorescence (stage 1-12) immature flower buds":"aboveground reproductive",
"Inflorescence meristem":"aboveground reproductive",
"flower buds":"aboveground reproductive",
"flower bud":"aboveground reproductive",
"flower pedicel":"aboveground reproductive",
"unopened flower buds":"aboveground reproductive",
"flower receptacles":"aboveground reproductive",
"inflorescences composed of all unopened floral buds":"aboveground reproductive",
"flower":"aboveground reproductive",
"Flower":"aboveground reproductive",
"stigma":"aboveground reproductive",
"flower meristems":"aboveground reproductive",
"anther":"aboveground reproductive",
"carpel":"aboveground reproductive",
"carpels":"aboveground reproductive",
"stamens":"aboveground reproductive",
"stamen":"aboveground reproductive",
"stamen filament":"aboveground reproductive",
"meiocytes":"aboveground reproductive",
"gynoecia":"aboveground reproductive",
"sepal":"aboveground reproductive",
"petal":"aboveground reproductive",
"pistils":"aboveground reproductive",
"Pollinated stigma":"aboveground reproductive"})

# Now check how many tissue types there're (should be 82 levels)
print("After replacing below/aboveground reproductive there're", len(above_below['Tissue'].unique()), "tissue types")

# Replace all aboveground vegetative tissue levels (all the remaining levels) with 'abovground vegetative'
above_below.loc[~above_below['Tissue'].isin(['belowground','aboveground reproductive']), 'Tissue'] = 'aboveground vegetative'

# Now check how many tissue types there're (should be 3 levels)
print("After replacing below/aboveground reproductive/vegetative there're", len(above_below['Tissue'].unique()), "tissue types")

# Check how many samples (rows) per tissue category
print(above_below['Tissue'].value_counts())

# Save the new dataset
above_below.to_csv('below_repr_veg.csv')

Before replacing with above/belowground labels, in the 100 genes dataset there're 104 tissue types
After replacing belowground there're 98 tissue types
After replacing below/aboveground reproductive there're 82 tissue types
After replacing below/aboveground reproductive/vegetative there're 3 tissue types
aboveground vegetative      16834
belowground                  2367
aboveground reproductive      867
Name: Tissue, dtype: int64